" vimrc
nnoremap <Space>ve :e ~/.ideavimrc<CR>
nnoremap <Space>vr :action IdeaVim.ReloadVimRc.reload<CR>
" buffers
nnoremap <Space>bb :action RecentFiles<CR>
nnoremap <Space>bs :action Switcher<CR>
" files
nnoremap <Space>ff :action GotoFile<CR>
nnoremap <Space>pf :action GotoFile<CR>
nnoremap <Space>sp :action FindInPath<CR>
nnoremap <Space>ss :action SaveAll<CR>
" windows
nnoremap <Space>wq :action CloseContent<CR>
nnoremap <Space>qq :action CloseContent<CR>
nnoremap <Space>w/ :action SplitVertically<CR>
nnoremap <Space>w- :action SplitHorizontally<CR>
nnoremap <Space>wj :action NextSplitter<CR>
nnoremap <Space>wk :action PrevSplitter<CR>
nnoremap <Space>wl :action NextSplitter<CR>
nnoremap <Space>wh :action PrevSplitter<CR>
" navigation
nnoremap <Space><Tab> :action Back<CR>
" text editing
nmap <Space>;; :action CommentByLineComment<CR>
vmap <Space>;; :action CommentByLineComment<CR>
" misc
nnoremap <Space><Space> :action GotoAction<CR>
" AceJump
nnoremap <Space>jj :action AceAction<CR>
nnoremap <Space>jl :action AceLineAction<CR>
nnoremap <Space>jw :action AceTargetAction<CR>
" git
nnoremap <Space>gl :action ActivateVersionControlToolWindow<CR>
nnoremap <Space>gs :action ActivateCommitToolWindow<CR>
" project
nnoremap <Space>pp :action ActivateProjectToolWindow<CR>
nnoremap <Space>pt :action ActivateTODOViewToolWindow<CR>
nnoremap <Space>pr :action ActivateRunToolWindow<CR>
nnoremap <Space>ps :action ActivateFindToolWindow<CR>
nnoremap <Space>pe :action ActivateProblemsViewToolWindow<CR>
nnoremap <Space>el :action ActivateProblemsViewToolWindow<CR>
nnoremap <Space>pm :action ActivateMessagesToolWindow<CR>
nnoremap <Space>pd :action ActivateDatabaseToolWindow<CR>
nnoremap <Space>pn :action ActivateNotificationsToolWindow<CR>
nnoremap <Space>tt :action ActivateTerminalToolWindow<CR>
" select words
nnoremap <Space>sg :action EditorSelectWord<CR>
nnoremap <Space>ss :action EditorUnSelectWord<CR>
" Clojure
nnoremap <Space>kl :action :cursive.actions.paredit/slurp-forwards<CR>
nnoremap <Space>kj :action :cursive.actions.paredit/barf-forwards<CR>
nnoremap <Space>kh :action :cursive.actions.paredit/slurp-backwards<CR>
nnoremap <Space>kh :action :cursive.actions.paredit/slurp-backwards<CR>
nnoremap <Space>sp :action :cursive.actions.paredit/splice<CR>
nnoremap <Space>sr :action :cursive.actions.paredit/raise<CR>
nnoremap <Space>sl :action :cursive.actions.paredit/forward<CR>
nnoremap <Space>sh :action :cursive.actions.paredit/backward<CR>
nnoremap <Space>sj :action :cursive.actions.paredit/forward-down<CR>
nnoremap <Space>sJ :action :cursive.actions.paredit/forward-up<CR>
nnoremap <Space>sk :action :cursive.actions.paredit/backward-up<CR>
nnoremap <Space>sK :action :cursive.actions.paredit/backward-down<CR>
nnoremap <Space>rf :action LoadFile<CR>
nnoremap <Space>re :action RunContext<CR>
nnoremap <Space>rt :action RunTests<CR>
nnoremap <Space>rr :action Clojure.REPL<CR>

" Core Vim feel
set number
set norelativenumber
set scrolloff=8
set ignorecase smartcase

" Use system clipboard for y, d, p, etc.
set clipboard+=unnamedplus

" IdeaVim plugins
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire

source ~/.vimrc
